<p>
  <b>Description:</b>
  <%=h @insider.description %>
</p>

<p>
  <b>Faq:</b>
  <%=h @insider.faq %>
</p>


<%= link_to 'Edit', edit_insider_path(@insider) %> |
<%= link_to 'Back', insiders_path %>