.news_image
  .image= image_tag(news_image.image.url(:square))
  .full_image
    = image_tag news_image.image.url(:default), :image_id => news_image.id, :class => 'news-picture'
  %p= news_image.name
