.box
  .header
    = title 'SIGN IN'

  #user-form
    - semantic_form_for resource_name, resource, :url => session_path(resource_name) do |f|
      = f.inputs :username, :password
      - f.buttons do
        = f.commit_button :label => 'Sign in'
  %p
    = render :partial => "shared/devise_links"
