<div class="blog-summary">
  <div class="news-author-picture"></div>
  <div class="blog-info">
    <%= link_to blog.title, blog %>
    <span>by <%= link_to blog.user.username, blog.user %></span>
  </div>
  <p><%= truncate blog.content, :length => 200 %></p>
</div>
<hr />

