<div id="wide-left-col">
  <div class="box">
    <h1><span class="blue">BL</span>OG</h1>
    <div class="blog-show-info">
      <p><strong>By <%= @blog.user.username %></strong></p>
      <%= truncate @blog.content, :length => 300 %>
    </div>
    <hr />
    <%= @blog.content %>
  </div>
</div>

<div id="thin-right-col">
  <div class="box">
    <h1><span class="blue">BLO</span>GGER</h1>
    <%= image_tag @blog.user.avatar.url, :class => 'news-author-picture' %>
    <div class="clear"></div>
  </div>
  <div class="box">
    <h1><span class="blue">BLOG</span> ARCHIVE</h1>
    <ul id="blog-archive">
    </ul>
  </div>
</div>

