%li.server
  = flag insider_server.country
  %span.name= insider_server.name
  %span.ip= insider_server.ip
  = link_to 'JOIN', 'steam://connect/'+insider_server.ip if current_user and (current_user.is? :insider or current_user.is? :admin)
