<div class="photo_<%= album_comment.album_photo.id %>">
  <div class="comment-info">
    <%= flag album_comment.user.country %>
    <%= full_name album_comment.user %>
  </div>
  <div class="comment"><%= album_comment.content %></div>
</div>
