<div class="partner">
  <%= image_tag partner.logo.url(:default), :class => 'partner-logo' %>
  <div class="partner-description">
    <%= admin_links partner %>
    <%= partner.description %>
  </div>
</div>
