<div id="left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">SPONSORS</span> PAGE<br />
      <span class="subtitle">PRIME <span>SPONSORS</span></span>
    </div>
    <%= render :partial => @partners %>
    <div class="clear"></div>
    <% if can? :create, Partner %>
      <%= link_to 'Add partner', new_partner_path %>
    <% end %>
  </div>
</div>

<div id="right-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">CONTACT</span> US<br />
      <span class="subtitle">EMAIL <span>US</span></span>
    </div>
    <div class="clear">
      Want to become a partner? <%= link_to 'Feel free to contact us', 'mailto:info@online-kingdom.org' %>
    </div>
  </div>
  <%= render :partial => 'shared/official_partners' %>
</div>
