<div id="left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">SPONSORS</span> PAGE<br />
      <span class="subtitle">PRIME <span>SPONSORS</span></span>
    </div>
    <%= render :partial => @partners %>
    <div class="clear"></div>
    <% if can? :create, Partner %>
      <%= link_to 'Add partner', new_partner_path %>
    <% end %>
  </div>
</div>
