<div class="news-item">
  <div class="news-left">
    <div class="news-author">
      <div class="news-author-picture"></div>
      <%= link_to article.user.username, article.user %><br />
      <strong>Author</strong>
    </div>
    <div class="news-author">
      <div class="news-author-picture"></div>
      <strong>Author</strong>
    </div>
  </div>
  <%= render :partial => 'article_info', :locals => {:article => article} %>
</div>
