<div class="news-item">
  <div class="news-left">
    <%= render :partial => 'author', :locals => {:user => article.user} %>
    <div class="news-author">
      <%= image_tag article.moderator.avatar.url(:default), :class => 'news-author-picture' %>
      <%= link_to article.moderator.username, article.moderator %><br />
      <strong>Edited/Approved</strong>
    </div>
  </div>
  <%= render :partial => 'article_info', :locals => {:article => article} %>
</div>
