<div class="news-item">
  <div class="news-left">
    <%= render :partial => 'author', :locals => {:user => article.user} %>
    <% if article.article_editors.size > 0 %>
      <% editor = article.article_editors.first.user %>
      <div class="news-author">
        <%= image_tag editor.avatar.url(:default), :class => 'news-author-picture' %>
        <%= link_to full_name(editor), editor %><br />
        <strong>Edited/Approved</strong>
      </div>
    <% end %>
  </div>
  <%= render :partial => 'article_info', :locals => {:article => article} %>
</div>
<hr />
