<div class="news-content">
  <%= link_to article.title, article, :class => 'news-title' %>
  <%= admin_links article %>
  <div class="news-rating"></div>
  <%= truncate(article.content, :length => 320) %>
</div>
<%= image_tag article.image.url(:default), :class => 'news-picture' %>
<hr />
