<div class="news-item">
  <div class="news-left">
    <%= render :partial => article.user %>
    <% if article.article_editors.size > 0 %>
      <% editor = article.article_editors.first %>
      <%= render :partial => editor.user, :locals => {:role => editor.update_type} %>
    <% end %>
  </div>
  <%= render :partial => 'article_info', :locals => {:article => article} %>
</div>
<hr />
