<div id="full-col">
  <div class="box-title">
    <span class="medium-narrow"><span class="blue">NEWS</span> PAGE<br/></span>
    <span class="subtitle">CONTENT <span>CHANGER</span></span>
  </div>
  <ul id="news-category" class="switcher">
    <li><%= link_to 'All', params.merge(:category => 'all', :page => 1) %></li>
    <% Category.all.each do |category| %>
      <li><%= link_to category.name, params.merge(:category => category.id, :page => 1) %></li>
    <% end %>
  </ul>
  <div id="paginated-news-list">
    <%= render :partial => @articles %>
  </div>
  <div class="clear"></div>
  <div id="pagination"><%= will_paginate @articles %></div>
</div> <!-- end left-col -->
