<div id="wide-left-col">
  <div class="box">
    <h1><span class="blue">NEWS</span> PAGE</h1>
    <%= render :partial => 'article_info', :locals => {:article => @article} %>
    <%= @article.content %>
  </div>
  <div class="box">
    <div id="news-comments">
      <h1><span class="blue">COM</span>MENTS</h1>
    </div>
  </div>
  <div class="box">
  </div>
</div>
<div id="thin-right-col">
  <div class="box">
  </div>
</div>

