<div id="left-col">
  <div class="box">
    <div class="box-title">
      <span class="medium-narrow"><span class="blue">NEWS</span> PAGE<br/></span>
    </div>
    <div class="clear"></div>
    <div id="paginated-news-list">
      <div class="news-item">
        This article is now awaiting approval!<br />
        <%= link_to 'View other articles', articles_path %>
      </div>
    </div>
  </div>
</div>
