<div id="error">
  <p>You are not authorised to view that page. Please contact an admin if you think this is an error.</p>
  <p><%= link_to 'Become an insider', insiders_path %> for access to more content!</p>
</div>
