/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

.ie-border
  padding: 1px

.button
  padding: 2px 4px !important
  background: url(/images/button-bg.png)

.right
  float: right !important
  text-align: right

input[checkbox]
  margin: 0
  padding: 0
  border: 0
