/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

.box
  @include clearfix
  border: 1px solid #c4c4c4
  padding: 10px
  margin-bottom: 6px
  @include border-radius(5px, 5px)
  p
    margin-bottom: 10px
  behavior: url(/stylesheets/ie-css3.htc)
