
.switcher
  float: left
  li
    float: left
    margin-right: 3px

.title
  float: left
  margin-right: 10px

.button
  float: left

.tournament-round
  float: left

.official-partner
  width: 49%

span
  display: inline

.twitter-share-button
  display: block

table
  padding: 0
  border: 0
  border-collapse: collapse
  border-spacing: 0

.comment-info .name
  float: left

.header
  clear: both

.readmore
  display: block
