/**
 * Admin stylesheet
 * Author: Alex Duller 2010
 */

table.admin-table {
  width: 100%;
  border: 1px solid gray;
  margin: 20px 0;
  border-collapse: collapse;
}

table.admin-table td, table.admin-table th {
  border-bottom: 1px solid gray;
  padding: 6px;
}

table.admin-table tr.even td {
  background: #e5ecf9;
}

table.admin-table td.edit, td.delete {
  width: 10%;
  text-align: center;
}

table.admin-table .centered {
  text-align: center;
}

input {
  border: 1px solid #bbb;
  margin-top: 4px;
}

#admin-settings {
  list-style: none;
  margin-top: 10px;
}

#admin-settings a {
  text-decoration: none;
  display: block;
  line-height: 2em;
  border: 1px solid gray;
  float: left;
  padding: 0 5px;
  margin: 0 5px;
}

#admin-settings a:hover {
  background: #e5ecf9;
  color: black;
}

#admin-content {
  margin: 10px;
}

.admin-links a {
  font-size: 10px;
  color: #999;
}

.admin-links a:hover {
  color: black;
}

.match-admin-links {
  float: right;
  line-height: 25px;
  padding-left: 5px;
}

.player-admin-links a {
  display: inline !important;
}

.team-admin-links {
  float: right;
}

.user-admin-links a {
  color: #1a3f5a;
}
