label {
  font-weight: bold;
  display: block;
}

textarea {
  width: 80%;
}

textarea.comment-area {
  height: 100px;
}

input[type=text], input[type=password] {
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
}

input[type=submit] {
  background: black;
  color: white;
}

form p {
  margin-top: 15px;
}

input.number {
  width: 30px;
}

form br {
  display: none;
}

/** Brackets form */
#bracket_submit {
  margin-top: 30px;
}

/** Matches form */

.match-team {
  width: 300px;
  float: left;
  border: 1px solid gray;
  background: #eee;
  margin: 5px;
  padding: 5px;
}

/** Search */
#switcher-search {
  margin-top: -20px;
}

.search {
  float: right;
}

.search input[type=text] {
  width: 150px;
  height: 18px;
  line-height: 18px;
  margin: 0;
  padding-right: 53px;
  float: left;
}

.search input[type=submit] {
  float: left;
  margin: 1px 0 0 -51px;
  width: 50px;
}
