label {
  font-weight: bold;
  margin: 15px 0 0 0;
  display: block;
}

input[type=text] {
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
}

input.number {
  width: 30px;
}

form br {
  display: none;
}
