/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 7, sass/ie.sass */
.ie-border {
  padding: 1px;
}

/* line 10, sass/ie.sass */
.button {
  padding: 2px 4px !important;
  background: url(/images/button-bg.png);
}

/* line 14, sass/ie.sass */
.right {
  float: right !important;
  text-align: right;
}

/* line 19, sass/ie.sass */
#login #user_remember_me {
  border: none;
}
