/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 10, sass/ie.sass */
.box {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin-bottom: 6px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  behavior: url(/stylesheets/ie-css3.htc);
}
/* line 16, sass/ie.sass */
.box p {
  margin-bottom: 10px;
}
