/* line 3, sass/ie7.sass */
.news-content {
  overflow: hidden;
  *zoom: 1;
}

/* line 6, sass/ie7.sass */
.switcher {
  float: left;
}
/* line 8, sass/ie7.sass */
.switcher li {
  float: left;
  margin-right: 3px;
}

/* line 12, sass/ie7.sass */
.title {
  float: left;
  margin-right: 10px;
}

/* line 16, sass/ie7.sass */
.button {
  float: left;
  font-size: 90%;
}

/* line 20, sass/ie7.sass */
.tournament-round {
  float: left;
}

/* line 23, sass/ie7.sass */
.official-partner {
  width: 49%;
}

/* line 26, sass/ie7.sass */
span {
  display: inline;
}

/* line 29, sass/ie7.sass */
.twitter-share-button {
  display: block;
}

/* line 32, sass/ie7.sass */
table {
  padding: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 38, sass/ie7.sass */
.comment-info .name {
  float: left;
}

/* line 42, sass/ie7.sass */
#groups-title span {
  float: left;
}

/* line 45, sass/ie7.sass */
#group-switcher {
  float: left;
}

/* line 50, sass/ie7.sass */
#top #article .heading {
  width: 100%;
}
/* line 52, sass/ie7.sass */
#top #article .heading .stars {
  position: absolute;
  top: 15px;
  right: 10px;
}
/* line 57, sass/ie7.sass */
#top #article .info span {
  float: left;
}
/* line 59, sass/ie7.sass */
#top #article .info span.comments {
  float: right;
}

/* line 63, sass/ie7.sass */
#login #user_remember_me {
  border: none;
}
