/**
 * Layout stylesheet for Online Kingdom
 * Author: Alex Duller
 * Contents:
 *  - Header
 *  - Navigation
 *  - Content
 *    - Right column
 *    - Left column
 *  - Footer
 *  - Misc
 *  - Article ratings
 */

body {
  background: url(/images/background.png) #5a7f9a;
  font: 11px Arial;
  color: white;
}

hr {
  clear: both;
}

ul {
  margin-left: 20px;
}

div#flash-notice, div#flash-alert {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  padding: 10px;
}

div#flash-alert, #error {
  border: 1px solid #dc1313;
  background: #e5b6b6;
}

#error {
  padding: 10px;
}

div#flash-notice {
  border: 1px solid #558108;
  background: #bcdd9f;
}

#loading {
  line-height: 40px;
  clear: left;
  left: 40%;
  position: relative;
}

#loading img {
  width: 30px !important;
  height: 30px !important;
  float: left;
}

/* Header */
#wrapper {
  margin: 26px auto 0 auto;
  width: 953px;
  height: 545px;
  background: url(../images/header.png) no-repeat;
}

#top-news {
  width: 466px;
  height: 187px;
  float: left;
  padding: 11px;
}

#top-news-title, #top-match-title {
  height: 24px;
  line-height: 24px;
  margin-bottom: 6px;
}

#top-news .num_comments a {
  float: right;
  color: white;
  text-decoration: none;
}

#top-news .num_comments a:hover {
  text-decoration: underline;
}

.logo {
  width: 61px;
  height: 24px;
  margin-right: 11px;
  float: left;
}

#top-match-content .team {
  float: left;
  margin-bottom: 10px;
}

#top-match-content .team .name {
  width: 100px;
  text-align: center;
  margin-top: 5px;
  color: white;
  text-decoration: none;
  display: block;
}

#top-match-title a {
  color: white;
}

#top-match-content .team a:hover {
  text-decoration: underline;
}

#top-match-content .versus {
  width: 89px;
  text-align:center;
  line-height: 100px;
  float: left;
  font-size: 80%;
}

#top-match-content .logo {
  width: 100px;
  height: 100px;
  display: block;
  padding: 0;
  margin: 0;
  float: none;
}

#top-news-title .title {
  font-weight: bold;
}

#top-news-title .rating, #top-match-title .rating {
  float: right;
  width: 55px;
  height: 24px;
  margin-top: 5px;
}

.top-info {
  color: #c3c3c3;
  margin-bottom: 12px;
}

.top-info .author {
  color: white;
}

#top-news-content .image {
  width: 108px;
  height: 108px;
  float: left;
  background: gray;
  margin-right: 9px;
}

#top-news-content {
  float: left; /* Float left so that we can clear it */
  width: 100%;
  overflow: hidden;
  height: 108px;
}

.readmore {
  clear: both;
  float: right;
}

#top-advert {
  margin: 0 0 24px 0;
  width: 455px;
  height: 117px;
  float: right;
}

/* Login */
#login {
  padding: 10px 0 0 27px;
  width: 428px;
  height: 59px;
  float: right;
}

#login span {
  margin: 0 0 0 33px;
}

#login span.forgot {
  display: block;
  float: right;
  margin: 20px;
}

#login span a {
  color: white;
}

#login form {
  margin: 0;
  width: 242px;
  position: relative;
  float: left;
}

#login-username, #login-password {
  width: 184px;
  height: 20px;
  padding: 0 0 0 23px;
  margin: 0;
  border: 0;
  background: none;
  float: left;
  color: white;
}

#login-username {
  background: url(../images/username-bg.png);
}

#login-password {
  background: url(../images/password-bg.png);
  margin-top: 9px;
}

#login-btn {
  position: absolute;
  top: -5px;
  right: 0;
  border: 0;
}

#login .pw {
  position: absolute;
  bottom: -3px;
  right: 0;
}

#logged-in {
  line-height: 50px;
  height: 50px;
  padding-left: 70px;
}

#logged-in #links {
  float: right;
  width: 200px;
}

#logged-in a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

#logged-in a:hover {
  color: gray;
}

#top-match {
  margin: 10px 0 0 0;
  padding: 11px;
  float: left;
  width: 289px;
  height: 194px;
  clear: both;
}

#sponsors {
  margin: 10px 0 0 10px;
  float: left;
  width: 631px;
  height: 217px;
}

#sponsors img {
  position: relative;
  top: 33px;
  margin-left: 40px;
}

/* Navigation */
#top-nav {
  margin: 0 0 6px 64px;
  float: left;
  width: 808px;
  height: 56px;
  clear: both;
  position: relative;
}

ul#top-nav li {
  background: url(../images/top-nav-bg.png) 0 0 no-repeat;
  list-style: none;
  position: absolute;
  height: 20px;
  width: 68px;
  display: block;
  top: 28px;
}

ul#top-nav #news { left: 19px; }
ul#top-nav #videos { left: 94px; background-position: -74px 0;}
ul#top-nav #albums { left: 168px; background-position: -148px 0;}
ul#top-nav #events { left: 242px; background-position: -222px 0;}
ul#top-nav #blogs { left: 316px; background-position: -296px 0;}
ul#top-nav #matches { left: 390px; background-position: -370px 0;}

ul#top-nav #players { left: 497px; background-position: -477px 0;}
ul#top-nav #awards { left: 571px; background-position: -551px 0;}
ul#top-nav #partners { left: 645px; background-position: -625px 0;}
ul#top-nav #about { left: 719px; background-position: -699px 0;}

ul#top-nav a {
  width: 68px;
  height: 20px;
  display: block;
}


/* Content */
#content {
  padding: 6px;
  width: 940px;
  background: white;
  clear: both;
  color: black;
}

/* Full Column */
#full-col {
  border: 1px solid #c4c4c4;
  padding: 10px 13px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.news-item {
  clear: both;
  padding: 16px 0;
  height: 139px;
}

.news-stats {
  margin-top: 20px;
  font-size: 90%;
}

.news-title {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.news-left {
  float: left;
  width: 236px;
  height: 139px;
}

.news-author {
  margin-top: 16px;
  width: 236px;
  height: 50px;
}

.news-author-picture {
  float: left;
  height: 50px;
  width: 50px;
  margin-right: 3px;
}

.news-content {
  padding: 16px 28px 0 0;
  float: left;
  margin-bottom: 16px;
  width: 367px;
  height: 123px;
  font-size: 110%;
  overflow: hidden;
}

.news-rating {
  width: 60px;
  height: 12px;
  margin: 5px 0 10px 0;
}

.news-picture {
  float: left;
  width: 202px;
  height: 139px;
  background: gray;
  border: 1px solid gray;
}

#settings-current {
  clear: both;
}

/* Wide left column */
/* Most pages have a wider left column and a thinner right-hand column */
#wide-left-col {
  margin: 0 5px 0 0;
  width: 628px;
  float: left;
}

.matches {
  padding: 10px 41px 0 41px;
}

.matches-title {
  clear: both;
  line-height: 11px;
  margin-top: 16px;
  padding: 7px;
  border: 1px solid #d9d9d9;
  height: 11px;
  background: #ededed;
}

.matches-title .team1 {
  width: 209px;
  display: block;
  float: left;
}

.matches-title .right {
  float: right;
}

.matches-title .left {
  float: left;
}

img.flag {
  margin: 0 3px 0 0;
  height: 11px;
  line-height: 11px; /** Set the line-height in case the image is missing and text is displayed */
  float: left;
}

.comment-info .flag {
  margin-top: 7px;
}

.matches-title .team2 {
  float: right;
}

.match-picture {
  float: right;
  margin: 16px 0 0 0;
  width: 200px;
  height: 100px;
}

#match-results {
  padding: 5px;
}

.team-players {
  margin: 10px;
  list-style: none;
}

.team-players li {
  margin: 10px 3px;
  height: 11px;
  clear: left;
}

table.match-info {
  border: 1px solid #d9d9d9;
  width: 275px;
  margin: 15px 0;
  border-collapse: collapse;
  float: left;
}

table.match-info tr, table.match-info td {
  height: 25px;
  border-bottom: 1px solid #d9d9d9;
}

.odd {
  background: #ededed;
}

table.match-info td.title {
  padding-left: 9px;
  width: 63px;
}

.matches-logo {
  float: right;
  margin: 15px 0;
}

/** Albums */
.album {
  float: left;
  width: 120px;
  height: 184px;
  margin: 27px 52px 0 0;
}

.album .name {
  height: 38px;
}

.album .info {
  width: 73px;
  height: 41px;
  background: #f2f2f2;
}

#user-albums {
  clear: both;
  margin-top: 25px;
}

#user-albums .album {
  margin: 0 3px 0 0 !important;
}


#current {
  height: 300px;
  margin-bottom: 15px;
}

#current img {
  padding: 3px;
  border: 1px solid gray;
  background: #efefef;
}

#photos {
  width: 150px;
  float: left;
  padding: 0 5px;
}

#photos img {
  width: 50px;
  height: 50px;
  margin: 1px 1px 0 0;
  border: 1px solid gray;
  padding: 1px;
}

.hidden-slideshow {
  display: none;
}

#album-links {
  display: none;
}

/** Partners */
.partner {
  clear: both;
  margin-top: 25px;
}

.partner-logo {
  float: left;
  margin-right: 15px;
}

.partner-description {
  float: right;
  width: 300px;
}

.partner-description p {
  margin-top: 10px;
}

div.comment {
  padding: 6px 11px;
}

div.comment-info {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background: #ededed;
  height: 25px;
  line-height: 25px;
  padding: 0 0 0 11px;
  color: #6e6f70;
  font-weight: bold;
  margin: 10px -14px 0 -11px;
}

#pagination {
  margin-top: 10px;
  height: 19px;
}

.pagination {
  height: 19px;
  text-align: center;
  float: left;
  left: 50%;
  position: relative;
}

.prev_page, .next_page {
}

.pagination .gap {
  color: black;
  font-size: 12px;
}

.pagination span, .pagination a {
  position: relative;
  right: 50%;
  width: 32px;
  height: 19px;
  display: block;
  float: left;
  text-decoration: none;
  text-align: center;
  line-height: 19px;
  color: white;
  margin-right: 2px;
}

.pagination a {
  background: url(/images/pagination-link.png);
}

.pagination .current, .pagination a:hover {
  background: url(/images/pagination-hover.png);
}

/* Left Column */
#left-col {
  margin: 0 5px 0 0;
  width: 535px;
  float: left;
}

#roller {
  height: 292px;
}

.switcher {
  height: 19px;
}

.switcher li {
  list-style: none;
  float: left;
  margin: -2px 1px 0 1px;
  border: 1px solid #525252;
  height: 17px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.switcher li a {
  text-align: center;
  display: block;
  height: 15px;
  line-height: 15px;
  color: white;
  text-decoration: none;
  font-family: "Arial Rounded MT Bold", Arial;
  font-weight: normal;
  font-size: 10px;
  margin-bottom: 12px;
  padding: 0 7px;
  background: #1a3f5a;
  border: 1px solid white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.switcher li a:hover, .switcher .selected {
  background-color: black;
  background-image: -moz-linear-gradient(100% 100% 90deg, #110f0f, #322f30);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, to(#110f0f), from(#322f30));
}

#news-picture {
  clear: both;
  width: 270px;
  height: 179px;
  border: 1px solid #888;
}
.profile-picture {
  width: 128px;
  height: 128px;
  float: left;
  margin-right: 11px;
}

.profile-info {
  margin-top: 32px;
  clear: left;
}

.profile-details {
  width: 374px;
}

.profile-username {
  margin: 10px 0 0 139px;
  color: #797979;
  padding-left: 3px;
  width: 371px;
}

.profile-description {
  margin-top: 30px;
  clear: both;
}

.profile-details tr, .profile-username {
  background: #ebebeb;
  height: 23px;
  line-height: 23px;
}

.profile-details tr.odd {
  background: #e0e0e0;
}

.profile-details td {
  padding-left: 10px;
}

.profile-details td.title {
  width: 65%;
}

/* Thin right column */
#thin-right-col {
  width: 305px;
  float: right;
}

/* Right Column */
#right-col {
  width: 397px;
  float: right;
}

.box {
  border: 1px solid #c4c4c4;
  padding: 9px 14px 7px 11px;
  margin-bottom: 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.box p {
  margin-bottom: 10px;
}

.box-title {
  font-weight: bold;
  float: left;
  margin-right: 10px;
  line-height: 9px;
}

#matchticker-switcher {
  list-style: none;
}

#matchticker-switcher li {
  float: left;
}

#match-ticker {
  clear: both;
  list-style: none;
  font-size: 90%;
}

#match-ticker li {
  line-height: 25px;
  border-bottom: 1px dotted #e3e3e3;
}

#match-ticker li a {
  text-decoration: none;
  display: block;
  color: black;
}

#match-ticker li a:hover {
  background: #e3e3e3;
}

#match-ticker .team1 {
  width: 30%;
  display: block;
  float: left;
}

#match-ticker img {
  width: 27px;
  height: 15px;
  margin: 6px 5px 0 0;
  float: left;
}

#match-ticker .team2 {
  margin-left: 16px;
  width: 150px;
}

#match-ticker .scores {
  float: right;
  text-align: center;
  font-weight: bold;
}

.all-matches {
  padding-top: 5px;
  font-weight: bold;
  float: right;
  text-decoration: none;
}

#user-hardware {
  clear: both;
  list-style: none;
  margin: 0 10px;
}

#user-hardware li {
  border-bottom: 1px dotted #e3e3e3;
  padding: 10px 5px;
}

#user-hardware span {
  float: right;
}

#user-blogs {
  margin-top: 30px;
}

.blog-user-summary {
  clear: both;
  font-weight: normal;
  margin: 10px 0 0 10px;
}

.blog-user-summary p {
  margin-top: 5px;
}

.blog-summary {
  clear: both;
  margin: 18px 0;
}

.blog-summary .news-author-picture {
  margin-right: 14px;
}

.blog-info {
  font-size: 110%;
  margin-bottom: 10px;
}

.blog-info a {
  text-decoration: none;
}

.blog-info span, .blog-info span a {
  color: black;
}

.blog-info span a {
  text-decoration: underline;
}

.blog-show-info p {
  font-size: 120%;
  margin: 16px 0;
}

.player {
  height: 100px;
  margin: 15px 0;
}

.player a.name {
  text-decoration: none;
  font-size: 110%;
  margin-right: 10px;
  font-weight: bold;
}

.player .description {
  border: 2px solid #ccc;
  -mozilla-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-top: 5px;
  padding: 10px;
  display: block;
  float: right;
  width: 382px;
}

#ok_staff {
  margin-top: 30px;
}

.ok-staff {
  clear: both;
  margin-top: 20px;
}

.ok-staff img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.ok-staff .desc {
  margin-top: 3px;
  height: 2.5em;
  line-height: 1.2em;
  overflow: hidden;
}

.left img {
  float: left;
  margin-right: 12px;
}

.right img {
  float: right;
  margin-left: 12px;
}

/* Footer */
#footer {
  padding: 66px 0 100px 170px;
  width: 782px;
  height: 54px;
  clear: both;
  background: url(/images/footer.png) no-repeat;
  font-size: 80%;
  color: #c7c7c7;
}

#footer span {
  float: left;
}

#footer p {
  margin-bottom: 12px;
}

#footer ul {
  margin: 13px 15px 0 0;
  float: right;
}

#footer ul li {
  float: left;
  margin: 0 0 0 12px;
  list-style: none;
}

#footer ul li a {
  color: #c7c7c7;
  text-decoration: none;
}

#footer ul li a:hover {
  color: white;
}

/* Misc */
.clear {
  clear: both;
}

.settings-avatar {
  height: 50px;
  border: 1px solid #ccc;
  width: 50px;
  padding: 5px;
}

.settings-avatar img {
  width: 50px; height: 50px;
}

/** Article ratings */
.star {
  width: 10px;
  height: 10px;
  background: url(/images/star_small.png);
  display: block;
  float: left;
}

.filled {
  background-position: 0 -20px;
}

.prev-filled {
  background-position: 0 -10px;
}

/** Events */
#content #events {
  clear: both;
  margin-top: 20px;
}

#pagination {
  clear: both;
}

.attending-teams {
  list-style: none;
  float: left;
  width: 160px;
  margin: 10px 0;
}

.attending-teams li {
  padding: 5px 5px 0 5px;
}

#group {
  margin-top: 20px;
}

.stage-nav {
  text-align: center;
  border: 1px solid #dfdfdf;
  padding: 5px;
  margin-top: 3px;
}

.group-switcher {
  float: right;
  margin-top: -2px;
}

.group-switcher li a {
  /* Set left and right explicitly as we don't want to override top or bottom padding */
  padding-left: 10px;
  padding-right: 10px;
}

#group-matches {
  margin: 20px;
}

/** About page */
.high-manager {
  float: left;
  width: 385px;
  margin: 10px 58px 10px 10px;
}

.high-manager img {
  float: left;
  margin: 0 10px 5px 0;
}

.medium-manager {
  float: left;
  margin: 10px 5px 10px 10px;
  width: 180px;
}

.medium-manager img {
  float: left;
  margin: 0 10px 5px 0;
  width: 50px;
  height: 50px;
}

/** Home page */

/* News slider */
#news-slider {
  margin-top: 10px;
  height: 250px;
  position: relative;
}

#news-slider #current {
  float: left;
  width: 275px;
}

#news-slider #current img {
  width: 275px;
  height: 180px;
}

#news-slider ul {
  float: right;
  width: 200px;
  list-style: none;
  border-top: 1px dashed #dadada;
}

#news-slider ul li a {
  border-bottom: 1px dashed #dadada;
  height: 25px;
  line-height: 25px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #6e6f70;
}

#news-slider ul li a:hover, #news-slider ul li a.selected {
  background: #ebebeb;
  color: #1a3f5a;
}

#news-slider #preamble {
  color: #1a3f5a;
}

#news-slider ul li .preamble, #news-slider ul li .image {
  display: none;
}

#follow-us {
  position: absolute;
  bottom: -8px;
  right: -15px;
  width: 200px;
  height: 86px;
  padding: 9px 0 0 12px;
  border-left: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  background: white;
}

#follow-us img {
  margin: 5px;
}

/** Home page blogs */
#home-page-blogs {
  margin-top: 30px;
}

.blog {
  clear: both;
  height: 50px;
  margin-top: 25px;
}

.blog img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 3px;
}
