/*
 * Layout stylesheet for Online Kingdom
 * Author: Alex Duller
 * Contents:
 *  - Header
 *  - Navigation
 *  - Content
 *    - Right column
 *    - Left column
 *  - Footer
 *  - Misc
 *  - Article ratings */
/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* -------------------------------------------------------------------------------------------------
 *
 *It's *strongly* suggested that you don't modify this file.  Instead, load a new stylesheet after
 *this one in your layouts (eg formtastic_changes.css) and override the styles to suit your needs.
 *This will allow you to update formtastic.css with new releases without clobbering your own changes.
 *
 *This stylesheet forms part of the Formtastic Rails Plugin
 *(c) 2008 Justin French
 *
 *-------------------------------------------------------------------------------------------------- */
/* NORMALIZE AND RESET - obviously inspired by Yahoo's reset.css, but scoped to just form.formtastic
 *-------------------------------------------------------------------------------------------------- */
/* line 15, sass/formtastic.sass */
form.formtastic {
  margin: 0;
  padding: 0;
}
/* line 18, sass/formtastic.sass */
form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
  margin: 0;
  padding: 0;
}
/* line 21, sass/formtastic.sass */
form.formtastic fieldset {
  border: 0;
}
/* line 23, sass/formtastic.sass */
form.formtastic em, form.formtastic strong {
  font-style: normal;
  font-weight: normal;
}
/* line 26, sass/formtastic.sass */
form.formtastic ol, form.formtastic ul {
  list-style: none;
}
/* line 28, sass/formtastic.sass */
form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal;
}
/* line 31, sass/formtastic.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/* line 35, sass/formtastic.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-size: 100%;
}
/* line 37, sass/formtastic.sass */
form.formtastic legend {
  white-space: normal;
  color: black;
}
/* line 40, sass/formtastic.sass */
form.formtastic ul.errors {
  color: #cc0000;
  margin: 0.5em 0 1.5em 25%;
  list-style: square;
}
/* line 44, sass/formtastic.sass */
form.formtastic ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 48, sass/formtastic.sass */
form.formtastic fieldset {
  overflow: auto;
}
/* line 51, sass/formtastic.sass */
form.formtastic fieldset.buttons {
  padding-left: 25%;
}
/* line 54, sass/formtastic.sass */
form.formtastic fieldset.buttons li {
  float: left;
  padding-right: 0.5em;
}
/* line 57, sass/formtastic.sass */
form.formtastic fieldset > ol > li {
  margin-bottom: 1.5em;
  overflow: auto;
}
/* line 61, sass/formtastic.sass */
form.formtastic fieldset > ol > li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: 0.2em;
}
/* line 66, sass/formtastic.sass */
form.formtastic fieldset > ol > li > li label {
  line-height: 100%;
  padding-top: 0;
}
/* line 69, sass/formtastic.sass */
form.formtastic fieldset > ol > li > li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em;
}
/* line 73, sass/formtastic.sass */
form.formtastic fieldset > ol > li fieldset {
  position: relative;
}
/* line 75, sass/formtastic.sass */
form.formtastic fieldset > ol > li fieldset legend {
  position: absolute;
  width: 95%;
  padding-top: 0.1em;
  left: 0px;
}
/* line 80, sass/formtastic.sass */
form.formtastic fieldset > ol > li fieldset legend span, form.formtastic fieldset > ol > li fieldset legend.label label {
  position: absolute;
}
/* line 82, sass/formtastic.sass */
form.formtastic fieldset > ol > li fieldset ol {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%;
}
/* line 87, sass/formtastic.sass */
form.formtastic fieldset > ol > li fieldset ol li {
  padding: 0;
  border: 0;
}
/* line 91, sass/formtastic.sass */
form.formtastic fieldset > ol > li p.inline-hints {
  color: #666666;
  margin: 0.5em 0 0 25%;
}
/* line 94, sass/formtastic.sass */
form.formtastic fieldset > ol > li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
}
/* line 97, sass/formtastic.sass */
form.formtastic fieldset > ol > li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square;
}
/* line 101, sass/formtastic.sass */
form.formtastic fieldset > ol > li ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}
/* line 105, sass/formtastic.sass */
form.formtastic fieldset > ol > li.string input {
  max-width: 74%;
}
/* line 107, sass/formtastic.sass */
form.formtastic fieldset > ol > li.password input {
  max-width: 13em;
}
/* line 109, sass/formtastic.sass */
form.formtastic fieldset > ol > li.numeric input {
  max-width: 74%;
}
/* line 111, sass/formtastic.sass */
form.formtastic fieldset > ol > li.text textarea {
  width: 74%;
}
/* line 113, sass/formtastic.sass */
form.formtastic fieldset ol li.hidden {
  display: none;
}
/* line 116, sass/formtastic.sass */
form.formtastic fieldset > ol > li.boolean label {
  padding-left: 25%;
  width: auto;
}
/* line 119, sass/formtastic.sass */
form.formtastic fieldset > ol > li.boolean label input {
  margin: 0 0.5em 0 0.2em;
}
/* line 121, sass/formtastic.sass */
form.formtastic fieldset > ol > li.radio fieldset ol, form.formtastic fieldset > ol > li.check_boxes fieldset ol {
  margin-bottom: -0.6em;
}
/* line 123, sass/formtastic.sass */
form.formtastic fieldset > ol > li.radio fieldset ol li, form.formtastic fieldset > ol > li.check_boxes fieldset ol li {
  margin: 0.1em 0 0.5em 0;
}
/* line 125, sass/formtastic.sass */
form.formtastic fieldset > ol > li.radio fieldset ol li label, form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
  float: none;
  width: 100%;
}
/* line 128, sass/formtastic.sass */
form.formtastic fieldset > ol > li.radio fieldset ol li label input, form.formtastic fieldset > ol > li.check_boxes fieldset ol li label input {
  margin-right: 0.2em;
}
/* line 130, sass/formtastic.sass */
form.formtastic fieldset > ol > li.date fieldset ol li, form.formtastic fieldset > ol > li.time fieldset ol li, form.formtastic fieldset > ol > li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 0.3em 0 0;
}
/* line 134, sass/formtastic.sass */
form.formtastic fieldset > ol > li.date fieldset ol li label, form.formtastic fieldset > ol > li.time fieldset ol li label, form.formtastic fieldset > ol > li.datetime fieldset ol li label {
  display: none;
}
/* line 136, sass/formtastic.sass */
form.formtastic fieldset > ol > li.date fieldset ol li label input, form.formtastic fieldset > ol > li.time fieldset ol li label input, form.formtastic fieldset > ol > li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0;
}

/* SEMANTIC ERRORS
 *-------------------------------------------------------------------------------------------------- */
/* FIELDSETS & LISTS
 *-------------------------------------------------------------------------------------------------- */
/* clearing contained floats */
/* INPUT LIs
 *-------------------------------------------------------------------------------------------------- */
/* clearing contained floats */
/* LABELS
 *-------------------------------------------------------------------------------------------------- */
/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
 *-------------------------------------------------------------------------------------------------- */
/* INLINE HINTS
 *-------------------------------------------------------------------------------------------------- */
/* INLINE ERRORS
 *-------------------------------------------------------------------------------------------------- */
/* STRING & NUMERIC OVERRIDES
 *-------------------------------------------------------------------------------------------------- */
/* TEXTAREA OVERRIDES
 *-------------------------------------------------------------------------------------------------- */
/* HIDDEN OVERRIDES
 *-------------------------------------------------------------------------------------------------- */
/* BOOLEAN OVERRIDES
 *-------------------------------------------------------------------------------------------------- */
/* RADIO OVERRIDES
 *-------------------------------------------------------------------------------------------------- */
/* CHECK BOXES (COLLECTION) OVERRIDES
 *-------------------------------------------------------------------------------------------------- */
/* DATE & TIME OVERRIDES
 *-------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------
 *
 *Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
 *This will allow you to update formtastic.css with new releases without clobbering your own changes.
 *
 *For example, to make the inline hint paragraphs a little darker in color than the standard #666:
 *
 *form.formtastic fieldset > ol > li p.inline-hints { color:#333; }
 *
 *HINT:
 *The following style may be *conditionally* included for improved support on older versions of IE(<8)
 *form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}
 *
 *-------------------------------------------------------------------------------------------------- */
/* line 16, sass/formtastic_changes.sass */
form.formtastic {
  margin: 15px;
}
/* line 19, sass/formtastic_changes.sass */
form.formtastic input[type=submit] {
  padding: 5px;
  font-weight: bold;
}
/* line 22, sass/formtastic_changes.sass */
form.formtastic input[type=text], form.formtastic input[type=password] {
  width: 400px;
  padding: 3px;
}

/* line 25, sass/formtastic_changes.sass */
form.formtastic fieldset > ol > li.password input {
  max-width: 400px;
}

/* Colours */
/* line 27, sass/screen.sass */
body {
  background: url(/images/background.jpg) #5a7f9a;
  font: 11px Arial;
  color: white;
}

/* line 32, sass/screen.sass */
h1 {
  font-weight: bold;
}

/* line 35, sass/screen.sass */
h2 {
  font-weight: bold;
  font-size: 105%;
}

/* line 39, sass/screen.sass */
hr {
  border: 0;
  height: 1px;
  background: #c4c4c4;
  clear: both;
}

/* line 45, sass/screen.sass */
p {
  line-height: 1.5;
}

/* line 48, sass/screen.sass */
em {
  font-style: italic;
}

/* line 51, sass/screen.sass */
strong {
  font-weight: bold;
}

/* line 54, sass/screen.sass */
.right {
  float: right;
}

/* line 57, sass/screen.sass */
.info-msg {
  clear: both;
  margin: 20px;
  text-align: center;
}

/* line 62, sass/screen.sass */
ul, ol {
  margin-left: 20px;
  list-style: disc;
}

/* line 66, sass/screen.sass */
#flash-notice, #flash-alert {
  position: fixed;
  top: 10px;
  left: -1px;
  color: black;
  padding: 10px;
}

/* line 73, sass/screen.sass */
#flash-alert {
  border: 1px solid #dc1313;
  background: #e5b6b6;
}

/* line 77, sass/screen.sass */
#flash-notice {
  border: 1px solid #558108;
  background: #bcdd9f;
}

/* line 81, sass/screen.sass */
#error {
  border: 1px solid #dc1313;
  background: #e5b6b6;
  padding: 10px;
}

/* line 86, sass/screen.sass */
#loading {
  line-height: 40px;
  clear: left;
  left: 40%;
  position: relative;
}
/* line 91, sass/screen.sass */
#loading img {
  width: 30px !important;
  height: 30px !important;
  float: left;
}

/* Header */
/* line 98, sass/screen.sass */
#wrapper {
  margin: 26px auto 0 auto;
  width: 953px;
  height: 545px;
  background: url(../images/header.png) no-repeat;
}

/* line 105, sass/screen.sass */
#top a {
  color: white;
  text-decoration: none;
}
/* line 108, sass/screen.sass */
#top a:hover {
  text-decoration: underline;
}
/* line 111, sass/screen.sass */
#top .avatar, #top #article #image, #top .user img, .user #top img {
  border: 1px solid #4a6278;
  margin-top: -2px;
}
/* line 114, sass/screen.sass */
#top .heading {
  height: 24px;
  line-height: 24px;
  margin-bottom: 6px;
  font-weight: bold;
}
/* line 119, sass/screen.sass */
#top .info {
  height: 25px;
  color: #c3c3c3;
}
/* line 122, sass/screen.sass */
#top .info span.comments {
  float: right;
}
/* line 124, sass/screen.sass */
#top .logo {
  width: 61px;
  height: 24px;
  margin-right: 11px;
  float: left;
}
/* line 130, sass/screen.sass */
#top #article {
  width: 466px;
  height: 187px;
  float: left;
  padding: 10px;
  position: relative;
}
/* line 136, sass/screen.sass */
#top #article .stars {
  float: right;
  margin-top: 5px;
}
/* line 139, sass/screen.sass */
#top #article #image {
  width: 108px;
  height: 108px;
}
/* line 144, sass/screen.sass */
#top #advert {
  margin: 10px 10px 20px 30px;
  width: 415px;
  height: 110px;
  float: right;
}
/* line 150, sass/screen.sass */
#top #match {
  margin: 10px 0 0 0;
  padding: 10px;
  float: left;
  width: 289px;
  height: 205px;
  clear: both;
  position: relative;
}
/* line 158, sass/screen.sass */
#top #match .content {
  height: 155px;
}
/* line 160, sass/screen.sass */
#top #match .content .team a:hover {
  text-decoration: underline;
}
/* line 162, sass/screen.sass */
#top #match .content .versus {
  width: 89px;
  text-align: center;
  line-height: 100px;
  float: left;
  font-size: 80%;
}
/* line 168, sass/screen.sass */
#top #match .content .logo {
  width: 100px;
  height: 100px;
  display: block;
  padding: 0;
  margin: 0;
  float: none;
}
/* line 175, sass/screen.sass */
#top #match .content .team {
  float: left;
  margin-bottom: 10px;
}
/* line 178, sass/screen.sass */
#top #match .content .team .name {
  width: 100px;
  text-align: center;
  margin-top: 5px;
  color: white;
  text-decoration: none;
  display: block;
}
/* line 186, sass/screen.sass */
#top #sponsors {
  margin: 10px 0 0 10px;
  float: left;
  width: 631px;
  height: 217px;
}
/* line 191, sass/screen.sass */
#top #sponsors img {
  position: relative;
  top: 33px;
  margin-left: 40px;
}

/* line 196, sass/screen.sass */
.readmore {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Login */
/* line 203, sass/screen.sass */
#login {
  padding: 10px 0 0 27px;
  width: 428px;
  height: 59px;
  float: right;
}
/* line 208, sass/screen.sass */
#login span {
  margin: 0 0 0 33px;
}
/* line 210, sass/screen.sass */
#login span.forgot {
  display: block;
  float: right;
  margin: 20px;
}
/* line 214, sass/screen.sass */
#login span a {
  color: white;
}
/* line 216, sass/screen.sass */
#login form {
  margin: 0;
  width: 242px;
  position: relative;
  float: left;
}
/* line 221, sass/screen.sass */
#login form p {
  position: absolute;
  right: -122px;
  bottom: 0;
}
/* line 225, sass/screen.sass */
#login .avatar, #login #top #article #image, #top #article #login #image, #login .user img, .user #login img {
  width: 50px;
  height: 50px;
}

/* line 229, sass/screen.sass */
#login-username, #login-password {
  width: 184px;
  height: 20px;
  padding: 0 0 0 23px;
  margin: 0;
  border: 0;
  background: none;
  float: left;
  color: white;
}

/* line 239, sass/screen.sass */
#login-username {
  background: url(../images/username-bg.png);
}

/* line 242, sass/screen.sass */
#login-password {
  background: url(../images/password-bg.png);
  margin-top: 9px;
}

/* line 246, sass/screen.sass */
#login-btn {
  position: absolute;
  top: -5px;
  right: 0;
  border: 0;
}

/* line 252, sass/screen.sass */
#login .pw {
  position: absolute;
  bottom: -3px;
  right: 0;
}

/* line 257, sass/screen.sass */
#logged-in {
  line-height: 50px;
  height: 50px;
  padding-left: 0;
}
/* line 261, sass/screen.sass */
#logged-in span {
  padding: 0;
  margin: 0;
}
/* line 264, sass/screen.sass */
#logged-in #links {
  float: right;
  width: 200px;
}
/* line 267, sass/screen.sass */
#logged-in #links a {
  margin-left: 10px;
  text-decoration: none;
}
/* line 270, sass/screen.sass */
#logged-in a:hover {
  color: gray;
}

/* Navigation */
/* line 275, sass/screen.sass */
#home-btn {
  display: block;
  width: 23px;
  height: 20px;
  background: url(../images/home_button.png) 0 0 no-repeat;
  float: left;
  margin-left: -40px;
  outline: 0;
}

/* line 284, sass/screen.sass */
#top-nav {
  margin: 20px 0 6px 74px;
  float: left;
  width: 808px;
  height: 30px;
  clear: both;
  position: relative;
}

/* line 293, sass/screen.sass */
ul#top-nav li {
  background: url(../images/top-nav-bg.png) 0 0 no-repeat;
  list-style: none;
  position: absolute;
  height: 20px;
  width: 68px;
  display: block;
}
/* line 300, sass/screen.sass */
ul#top-nav li#home {
  background: none;
}
/* line 302, sass/screen.sass */
ul#top-nav #news {
  left: 19px;
}
/* line 304, sass/screen.sass */
ul#top-nav #videos {
  left: 94px;
  background-position: -74px 0;
}
/* line 307, sass/screen.sass */
ul#top-nav #albums {
  left: 168px;
  background-position: -148px 0;
}
/* line 310, sass/screen.sass */
ul#top-nav #events {
  left: 242px;
  background-position: -222px 0;
}
/* line 313, sass/screen.sass */
ul#top-nav #blogs {
  left: 316px;
  background-position: -296px 0;
}
/* line 316, sass/screen.sass */
ul#top-nav #matches {
  left: 390px;
  background-position: -370px 0;
}
/* line 319, sass/screen.sass */
ul#top-nav #players {
  left: 497px;
  background-position: -477px 0;
}
/* line 322, sass/screen.sass */
ul#top-nav #awards {
  left: 571px;
  background-position: -551px 0;
}
/* line 325, sass/screen.sass */
ul#top-nav #partners {
  left: 645px;
  background-position: -625px 0;
}
/* line 328, sass/screen.sass */
ul#top-nav #about {
  left: 719px;
  background-position: -699px 0;
}
/* line 331, sass/screen.sass */
ul#top-nav a {
  width: 68px;
  height: 20px;
  display: block;
}

/* Content */
/* line 338, sass/screen.sass */
.avatar, #top #article #image, .user img {
  float: left;
  margin-right: 5px;
  padding: 1px;
}

/* line 343, sass/screen.sass */
#content {
  /* top image gives 5px padding at top */
  padding: 1px 6px 6px 6px;
  width: 940px;
  background: white;
  clear: both;
  color: black;
  overflow: hidden;
  *zoom: 1;
}
/* line 351, sass/screen.sass */
#content .avatar, #content #top #article #image, #top #article #content #image, #content .user img, .user #content img {
  background: #eeeeee;
  border: 1px solid #e1e1e1;
}

/* Full Column */
/* line 357, sass/screen.sass */
.news-item {
  clear: both;
  padding: 16px 0;
}

/* line 361, sass/screen.sass */
.news-stats {
  margin-top: 20px;
  font-size: 90%;
}

/* line 365, sass/screen.sass */
.news-title {
  color: black;
  text-decoration: none;
}

/* line 369, sass/screen.sass */
.news-left {
  float: left;
  width: 236px;
}

/* line 373, sass/screen.sass */
.news-content {
  padding: 12px 28px 0 0;
  float: left;
  margin-bottom: 16px;
  width: 367px;
  font-size: 110%;
  overflow: hidden;
}

/* line 381, sass/screen.sass */
.date {
  font-size: 90%;
  color: #5d5d5d;
}

/* line 385, sass/screen.sass */
.news-rating {
  width: 60px;
  height: 12px;
  margin: 5px 0 10px 0;
}

/* line 390, sass/screen.sass */
.news-picture {
  float: right;
  width: 202px;
  height: 139px;
  border: 1px solid gray;
  margin: 12px 0 20px 0;
}

/* line 398, sass/screen.sass */
form .news-picture {
  float: none;
}

/* line 401, sass/screen.sass */
#settings-current {
  clear: both;
}

/* Wide left column */
/* Most pages have a wider left column and a thinner right-hand column */
/* line 407, sass/screen.sass */
#wide-left-col {
  margin: 0 5px 0 0;
  width: 628px;
  float: left;
}

/* line 412, sass/screen.sass */
.matches-title {
  clear: both;
  line-height: 11px;
  margin-top: 16px;
  padding: 7px;
  border: 1px solid #d9d9d9;
  height: 11px;
  background: #ededed;
}
/* line 420, sass/screen.sass */
.matches-title .team1 {
  width: 209px;
  display: block;
  float: left;
}
/* line 424, sass/screen.sass */
.matches-title .right {
  float: right;
}
/* line 426, sass/screen.sass */
.matches-title .left {
  float: left;
}

/* line 429, sass/screen.sass */
#team1-roster, #team2-roster {
  margin-top: 10px;
  width: 120px;
  text-align: left;
  list-style: none;
}

/* line 435, sass/screen.sass */
#team1-roster li, #team2-roster li {
  margin-top: 3px;
}

/* line 438, sass/screen.sass */
#team1-roster {
  float: left;
}

/* line 441, sass/screen.sass */
#team2-roster {
  float: right;
}

/* line 444, sass/screen.sass */
img.flag {
  margin: 0 3px 0 0;
  height: 11px;
  line-height: 11px;
  /*Set the line-height in case the image is missing and text is displayed */
}

/* line 450, sass/screen.sass */
.comment-info .flag {
  margin-top: 7px;
}

/* line 453, sass/screen.sass */
.matches-title .team2 {
  float: right;
}

/* line 456, sass/screen.sass */
.match-picture {
  float: right;
  margin: 16px 0 0 0;
  width: 200px;
  height: 100px;
}

/* line 462, sass/screen.sass */
#match-results {
  padding: 5px;
}

/* line 465, sass/screen.sass */
.team-players {
  margin: 10px;
  list-style: none;
}
/* line 468, sass/screen.sass */
.team-players li {
  margin: 10px 3px;
  height: 11px;
  clear: left;
}

/* line 473, sass/screen.sass */
table.info {
  border: 1px solid #d9d9d9;
  width: 275px;
  margin: 15px 0;
  border-collapse: collapse;
  float: left;
}
/* line 479, sass/screen.sass */
table.info tr, table.info td {
  height: 25px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 482, sass/screen.sass */
table.info .field {
  padding-left: 9px;
  width: 63px;
  font-weight: bold;
}

/* line 487, sass/screen.sass */
.odd, .unread {
  background: #ededed;
}

/* line 490, sass/screen.sass */
.matches-logo {
  float: right;
  margin: 15px 0;
}

/*Albums */
/* line 496, sass/screen.sass */
.home-page-videos {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}

/* line 500, sass/screen.sass */
.album {
  float: left;
  width: 124px;
  height: 195px;
  margin: 5px 25px 10px 0;
}
/* line 505, sass/screen.sass */
.album .name {
  height: 25px;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 509, sass/screen.sass */
.album .info {
  background: #f2f2f2;
  padding: 5px;
}
/* line 512, sass/screen.sass */
.album img {
  background: #eeeeee;
  border: 1px solid #e1e1e1;
  width: 120px;
  padding: 1px;
  height: 94px;
  display: block;
}

/* line 520, sass/screen.sass */
#user-albums {
  clear: both;
  margin-top: 25px;
}
/* line 523, sass/screen.sass */
#user-albums .album {
  margin: 0 3px 0 0 !important;
}

/* line 526, sass/screen.sass */
#current {
  margin-bottom: 15px;
}
/* line 528, sass/screen.sass */
#current img {
  padding: 3px;
  border: 1px solid gray;
  background: #efefef;
}

/* line 533, sass/screen.sass */
#photos {
  width: 250px;
  float: left;
  padding: 0 5px;
}
/* line 537, sass/screen.sass */
#photos img {
  width: 50px;
  height: 50px;
  margin: 1px 1px 0 0;
  border: 1px solid gray;
  padding: 1px;
}
/* line 543, sass/screen.sass */
#photos .selected img {
  border: 1px solid #333333;
  background-color: #333333;
}

/* line 547, sass/screen.sass */
.hidden-slideshow, #album-links {
  display: none;
}

/*Partners */
/* line 552, sass/screen.sass */
.partner {
  clear: both;
  margin-top: 25px;
}

/* line 556, sass/screen.sass */
.partner-logo {
  float: left;
  margin-right: 15px;
}

/* line 560, sass/screen.sass */
.partner-description {
  float: right;
  width: 300px;
}
/* line 563, sass/screen.sass */
.partner-description p {
  margin-top: 10px;
}

/* line 566, sass/screen.sass */
#official-partners {
  margin: 20px;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}

/* line 571, sass/screen.sass */
.official-partner {
  float: left;
  width: 50%;
  height: 120px;
}
/* line 575, sass/screen.sass */
.official-partner .title {
  margin: 5px 0;
  color: gray;
}

/* line 580, sass/screen.sass */
div.comment {
  padding: 6px 11px;
  clear: both;
}
/* line 583, sass/screen.sass */
div.comment-info {
  clear: both;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background: #ededed;
  height: 25px;
  line-height: 25px;
  padding: 0 0 0 11px;
  color: #6e6f70;
  font-weight: bold;
  margin-top: 10px;
}
/* line 594, sass/screen.sass */
div.comment-info .date {
  float: right;
  margin-right: 10px;
}

/* line 598, sass/screen.sass */
.reply-form {
  display: none;
  padding: 10px;
}

/* line 602, sass/screen.sass */
.comment-children {
  clear: both;
  margin-left: 50px;
}

/* line 606, sass/screen.sass */
.comment-reply {
  text-align: right;
  padding-right: 10px;
}

/* line 610, sass/screen.sass */
.swControls {
  position: relative;
  float: right;
  margin-top: -15px;
}

/* line 615, sass/screen.sass */
.pagination {
  clear: both;
  float: right;
}

/* line 619, sass/screen.sass */
.swControls a {
  position: relative;
  width: 32px;
  height: 19px;
  display: block;
  float: left;
  text-decoration: none;
  text-align: center;
  line-height: 19px;
  color: white;
  margin-right: 2px;
}

/* line 631, sass/screen.sass */
.swControls a {
  background: url(/images/pagination-link.png);
}

/* line 635, sass/screen.sass */
.swControls a.current, .swControls a:hover {
  background: url(/images/pagination-hover.png);
}

/* Left Column */
/* line 640, sass/screen.sass */
#left-col {
  margin: 0 5px 0 0;
  width: 535px;
  float: left;
}

/* line 645, sass/screen.sass */
#roller {
  height: 292px;
}

/* line 648, sass/screen.sass */
.button, .s3-swf-upload-link a {
  display: inline-block;
  color: #4183c4;
  padding: 2px 4px;
  text-decoration: none;
  font-weight: bold;
  background: #fcfcfc;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #ececec));
  background-image: -moz-linear-gradient(top, #fcfcfc 0%, #ececec 100%);
  background-image: linear-gradient(top, #fcfcfc 0%, #ececec 100%);
  text-shadow: white 1px 1px 0;
}
/* line 659, sass/screen.sass */
.button:hover, .s3-swf-upload-link a:hover, .button.selected, .s3-swf-upload-link a.selected {
  background: #ececec;
  color: #333333;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #ececec));
  background-image: -moz-linear-gradient(top, #f4f4f4 0%, #ececec 100%);
  background-image: linear-gradient(top, #f4f4f4 0%, #ececec 100%);
}
/* line 663, sass/screen.sass */
.button:active, .s3-swf-upload-link a:active {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #f4f4f4), color-stop(100%, #ececec));
  background-image: -moz-linear-gradient(bottom, #f4f4f4 0%, #ececec 100%);
  background-image: linear-gradient(bottom, #f4f4f4 0%, #ececec 100%);
  background: #ececec;
}

/* line 667, sass/screen.sass */
.switcher {
  vertical-align: top;
  display: inline-block;
  margin-top: 1px;
}
/* line 671, sass/screen.sass */
.switcher li, .switcher span.gap {
  list-style: none;
  display: inline-block;
}

/* line 675, sass/screen.sass */
#news-picture {
  clear: both;
  width: 270px;
  height: 179px;
  border: 1px solid #888888;
}

/* Display a user's profile picture with their name alonside */
/* line 682, sass/screen.sass */
.user {
  height: 54px;
  margin: 10px 0;
  line-height: 1.5;
}
/* line 686, sass/screen.sass */
.user .name a {
  text-decoration: none;
}
/* line 688, sass/screen.sass */
.user .role {
  font-weight: bold;
}
/* line 690, sass/screen.sass */
.user img {
  width: 50px;
  height: 50px;
}

/* line 696, sass/screen.sass */
#user-form .user {
  height: auto;
}

/* line 699, sass/screen.sass */
a.insider {
  color: #d40000;
}

/* line 702, sass/screen.sass */
.profile-picture {
  width: 128px;
  height: 128px;
  float: left;
  margin-right: 11px;
}

/* line 708, sass/screen.sass */
.profile-info {
  margin-top: 32px;
  clear: left;
}

/* line 712, sass/screen.sass */
.profile-details {
  width: 374px;
}

/* line 715, sass/screen.sass */
.profile-username {
  margin: 10px 0 0 139px;
  color: #797979;
  padding-left: 3px;
  width: 371px;
}

/* line 721, sass/screen.sass */
.profile-details tr, .profile-username {
  background: #ebebeb;
  height: 23px;
  line-height: 23px;
}

/* line 727, sass/screen.sass */
.profile-details tr.odd {
  background: #e0e0e0;
}
/* line 729, sass/screen.sass */
.profile-details td {
  padding-left: 10px;
}
/* line 731, sass/screen.sass */
.profile-details td.title {
  width: 65%;
}

/* Thin right column */
/* line 736, sass/screen.sass */
#thin-right-col {
  width: 305px;
  float: right;
}

/* Right Column */
/* line 742, sass/screen.sass */
#right-col {
  width: 397px;
  float: right;
}

/* line 746, sass/screen.sass */
.box {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin-bottom: 6px;
  background: #fefefe;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 753, sass/screen.sass */
.box p {
  margin-bottom: 10px;
}

/* line 756, sass/screen.sass */
.header {
  overflow: hidden;
  *zoom: 1;
  clear: both;
}

/* line 760, sass/screen.sass */
#matchticker-switcher {
  list-style: none;
}
/* line 762, sass/screen.sass */
#matchticker-switcher li {
  float: left;
}

/* line 765, sass/screen.sass */
.team1 {
  display: block;
  float: left;
  width: 30%;
}

/* line 770, sass/screen.sass */
.scores {
  float: right;
  text-align: center;
  font-weight: bold;
}

/* line 775, sass/screen.sass */
a.more {
  padding-top: 5px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  float: right;
}

/* line 782, sass/screen.sass */
.dotted {
  list-style: none;
  margin-left: 0;
}
/* line 785, sass/screen.sass */
.dotted li {
  background: url(/images/dotted.png) bottom repeat-x;
  padding: 5px 0;
}
/* line 788, sass/screen.sass */
.dotted li p {
  margin-bottom: 0;
}
/* line 790, sass/screen.sass */
.dotted li a {
  line-height: 16px;
  text-decoration: none;
}
/* line 793, sass/screen.sass */
.dotted li a.selected {
  font-weight: bold;
}
/* line 795, sass/screen.sass */
.dotted li img {
  margin-right: 5px;
  float: left;
}

/* line 799, sass/screen.sass */
table#hardware {
  width: 100%;
  border-top: 1px dotted #e3e3e3;
  margin-top: 10px;
}
/* line 803, sass/screen.sass */
table#hardware td {
  border-bottom: 1px dotted #e3e3e3;
  padding: 10px;
}

/* line 808, sass/screen.sass */
#home-page-blogs li {
  padding: 7px 0;
  height: 54px;
}
/* line 811, sass/screen.sass */
#home-page-blogs img {
  height: 50px;
}

/* line 814, sass/screen.sass */
#user-blogs {
  margin-top: 30px;
}

/* line 817, sass/screen.sass */
.blog-user-summary {
  clear: both;
  font-weight: normal;
  margin: 10px 0 0 10px;
}
/* line 821, sass/screen.sass */
.blog-user-summary p {
  margin-top: 5px;
}

/* line 824, sass/screen.sass */
.blog-summary {
  overflow: hidden;
  *zoom: 1;
  margin: 10px 0;
}
/* line 827, sass/screen.sass */
.blog-summary .avatar, .blog-summary #top #article #image, #top #article .blog-summary #image, .blog-summary .user img, .user .blog-summary img {
  height: 50px;
}

/* line 830, sass/screen.sass */
.blog-info {
  font-size: 110%;
}
/* line 832, sass/screen.sass */
.blog-info a {
  text-decoration: none;
}
/* line 834, sass/screen.sass */
.blog-info span {
  color: black;
}
/* line 836, sass/screen.sass */
.blog-info span a {
  color: black;
  text-decoration: underline;
}

/* line 840, sass/screen.sass */
.blog-show-info p {
  font-size: 120%;
  margin: 16px 0;
}

/* line 844, sass/screen.sass */
#blog .preamble {
  margin-top: 15px;
}

/* line 847, sass/screen.sass */
.player {
  height: 100px;
  margin: 15px 0;
  clear: both;
}
/* line 851, sass/screen.sass */
.player img {
  width: 90px;
  height: 90px;
}
/* line 854, sass/screen.sass */
.player a.name {
  text-decoration: none;
  font-size: 110%;
  margin-right: 10px;
  font-weight: bold;
}
/* line 859, sass/screen.sass */
.player .description {
  border: 2px solid #cccccc;
  -mozilla-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-top: 5px;
  padding: 10px;
  display: block;
  float: right;
  width: 382px;
}

/* line 869, sass/screen.sass */
.ok-staff {
  clear: both;
  margin-top: 20px;
}
/* line 872, sass/screen.sass */
.ok-staff img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}
/* line 877, sass/screen.sass */
.ok-staff .desc {
  margin-top: 3px;
  height: 2.5em;
  line-height: 1.2em;
  overflow: hidden;
}

/* line 883, sass/screen.sass */
.left img {
  float: left;
  margin-right: 12px;
}

/* line 887, sass/screen.sass */
.right img {
  float: right;
  margin-left: 12px;
}

/* Footer */
/* line 893, sass/screen.sass */
#footer {
  padding: 66px 0 100px 170px;
  width: 782px;
  height: 54px;
  clear: both;
  background: url(/images/footer.png) no-repeat;
  font-size: 80%;
  color: #c7c7c7;
}
/* line 901, sass/screen.sass */
#footer a {
  color: #c7c7c7;
}
/* line 903, sass/screen.sass */
#footer a:hover {
  color: white;
}
/* line 905, sass/screen.sass */
#footer .copyright {
  float: left;
}
/* line 907, sass/screen.sass */
#footer .copyright span {
  display: block;
  float: none;
  margin-bottom: 12px;
}
/* line 911, sass/screen.sass */
#footer ul {
  margin: 13px 15px 0 0;
  float: right;
}
/* line 914, sass/screen.sass */
#footer ul li {
  float: left;
  margin: 0 0 0 12px;
  list-style: none;
}
/* line 918, sass/screen.sass */
#footer ul li a {
  text-decoration: none;
}

/*Article ratings */
/* line 923, sass/screen.sass */
.star {
  width: 10px;
  height: 10px;
  background: url(/images/star_small.png);
  display: block;
  float: left;
}

/* line 930, sass/screen.sass */
.filled {
  background-position: 0 -20px;
}

/* line 933, sass/screen.sass */
.prev-filled {
  background-position: 0 -10px;
}

/*Events */
/* line 938, sass/screen.sass */
#events-list {
  clear: both;
  margin-top: 20px;
}

/* line 942, sass/screen.sass */
.attending-teams {
  list-style: none;
  float: left;
  width: 160px;
  margin: 10px 0;
}
/* line 947, sass/screen.sass */
.attending-teams li {
  padding: 5px 5px 0 5px;
}

/* line 950, sass/screen.sass */
#group {
  margin-top: 20px;
}

/* line 953, sass/screen.sass */
.stage {
  margin-top: 10px;
}

/* line 956, sass/screen.sass */
.stage-nav {
  text-align: center;
  border: 1px solid #dfdfdf;
  padding: 5px;
  margin-top: 3px;
}

/* line 962, sass/screen.sass */
.group-switcher {
  float: right;
  margin-top: -2px;
}
/* line 965, sass/screen.sass */
.group-switcher li a {
  /* Set left and right explicitly as we don't want to override top or bottom padding */
  padding-left: 10px;
  padding-right: 10px;
}

/* line 970, sass/screen.sass */
#group-matches {
  margin: 20px;
}

/*About page */
/* line 975, sass/screen.sass */
.high-manager {
  float: left;
  width: 385px;
  margin: 10px 58px 10px 10px;
  height: 150px;
}
/* line 980, sass/screen.sass */
.high-manager img {
  float: left;
  margin: 0 10px 5px 0;
  width: 90px;
  height: 90px;
}

/* line 986, sass/screen.sass */
.medium-manager {
  float: left;
  margin: 10px 5px 10px 10px;
  width: 180px;
}
/* line 990, sass/screen.sass */
.medium-manager img {
  float: left;
  margin: 0 10px 5px 0;
  width: 50px;
  height: 50px;
}

/*Home page */
/* News slider */
/* line 999, sass/screen.sass */
#news-slider-box {
  position: relative;
}

/* line 1002, sass/screen.sass */
#news-slider {
  margin: 0 0 -8px 0;
}
/* line 1004, sass/screen.sass */
#news-slider a {
  font-weight: bold;
}
/* line 1006, sass/screen.sass */
#news-slider #left {
  float: left;
  width: 275px;
}
/* line 1009, sass/screen.sass */
#news-slider #right {
  float: right;
  width: 210px;
}
/* line 1012, sass/screen.sass */
#news-slider #current {
  padding-bottom: 20px;
}
/* line 1014, sass/screen.sass */
#news-slider #current img {
  width: 275px;
  height: 180px;
}
/* line 1017, sass/screen.sass */
#news-slider #preamble {
  color: #1a3f5a;
  text-align: justify;
  text-justify: newspaper;
}
/* line 1021, sass/screen.sass */
#news-slider ul li .content {
  display: none;
}
/* line 1024, sass/screen.sass */
#news-slider li a {
  color: #666666;
}
/* line 1026, sass/screen.sass */
#news-slider li a.selected, #news-slider li a:hover {
  color: #1a3f5a;
}

/*Home page blogs */
/* line 1031, sass/screen.sass */
.blog {
  clear: both;
  height: 50px;
  margin-bottom: 25px;
}
/* line 1035, sass/screen.sass */
.blog img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 3px;
}

/*Streams */
/* line 1043, sass/screen.sass */
.stream {
  margin-top: 20px;
}

/* line 1046, sass/screen.sass */
.next-streams {
  margin-top: 10px;
}

/*Awards */
/* line 1051, sass/screen.sass */
.award {
  margin-top: 10px;
}
/* line 1053, sass/screen.sass */
.award .title {
  font-weight: bold;
  font-size: 110%;
  color: #484848;
}
/* line 1057, sass/screen.sass */
.award .title img {
  margin-right: 3px;
}
/* line 1059, sass/screen.sass */
.award .place {
  height: 20px;
  color: gray;
  font-weight: bold;
}

/*Jquery pagination */
/* line 1068, sass/screen.sass */
#holder {
  clear: both;
  overflow: hidden;
  margin: 10px -14px 0 -11px;
}

/*Insider */
/* line 1075, sass/screen.sass */
ul.insider {
  margin: 20px;
  clear: both;
}

/* line 1079, sass/screen.sass */
.insider-content {
  margin-top: 10px;
}

/* line 1082, sass/screen.sass */
.message-box {
  padding: 7px;
  border: 1px solid #d9d9d9;
  background: #ededed;
  margin-bottom: 10px;
}

/* line 1088, sass/screen.sass */
.read {
  color: gray;
}

/* line 1091, sass/screen.sass */
#lang {
  background: url(../images/lang.png) no-repeat;
  height: 56px;
  width: 26px;
  float: left;
  margin-left: -32px;
  list-style: none;
}
/* line 1098, sass/screen.sass */
#lang li {
  width: 26px;
  height: 27px;
  margin-bottom: 3px;
}
/* line 1102, sass/screen.sass */
#lang a {
  display: block;
  width: 26px;
  height: 27px;
  text-indent: -3000px;
  overflow: hidden;
}
/* line 1109, sass/screen.sass */
#lang #english a:hover, #lang #english.selected {
  background: url(../images/lang.png) -25px 0;
}
/* line 1112, sass/screen.sass */
#lang #portuguese a:hover, #lang #portuguese.selected {
  background: url(../images/lang.png) -25px 26px;
}

/* line 1115, sass/screen.sass */
table.admin-table {
  width: 100%;
  border: 1px solid #c4c4c4;
  border-collapse: collapse;
  margin-top: 10px;
}
/* line 1120, sass/screen.sass */
table.admin-table td, table.admin-table th {
  border-bottom: 1px solid #c4c4c4;
  padding: 6px;
}
/* line 1123, sass/screen.sass */
table.admin-table th {
  font-weight: bold;
  border-bottom: 3px double #c4c4c4;
}
/* line 1126, sass/screen.sass */
table.admin-table tr.even td {
  background: #e5ecf9;
}
/* line 1128, sass/screen.sass */
table.admin-table tr.odd {
  background: none;
}
/* line 1130, sass/screen.sass */
table.admin-table td.edit {
  width: 10%;
  text-align: center;
}

/* line 1134, sass/screen.sass */
td.delete {
  width: 10%;
  text-align: center;
}

/* line 1138, sass/screen.sass */
table.admin-table .centered {
  text-align: center;
}

/* line 1141, sass/screen.sass */
input {
  border: 1px solid #bbbbbb;
  margin-top: 4px;
}

/* line 1145, sass/screen.sass */
#admin-settings {
  list-style: none;
  margin-top: 10px;
}
/* line 1148, sass/screen.sass */
#admin-settings a {
  text-decoration: none;
  display: block;
  line-height: 2em;
  border: 1px solid gray;
  float: left;
  padding: 0 5px;
  margin: 0 5px;
}
/* line 1156, sass/screen.sass */
#admin-settings a:hover {
  background: #e5ecf9;
  color: black;
}

/* line 1160, sass/screen.sass */
#admin-content {
  margin: 10px;
}

/* line 1163, sass/screen.sass */
.admin-links a {
  font-size: 10px;
  color: #999999;
}
/* line 1166, sass/screen.sass */
.admin-links a:hover {
  color: black;
}

/* line 1169, sass/screen.sass */
.match-admin-links {
  float: right;
  line-height: 25px;
  padding-left: 5px;
}

/* line 1174, sass/screen.sass */
.player-admin-links a {
  display: inline !important;
}

/* line 1177, sass/screen.sass */
.team-admin-links {
  float: right;
}

/* line 1180, sass/screen.sass */
.user-admin-links a {
  color: #1a3f5a;
}

/* line 1183, sass/screen.sass */
.group-match-admin-links, .ok-staff-admin, .inline-admin {
  display: inline !important;
}

/* line 1186, sass/screen.sass */
#admin-nav {
  color: white;
  position: fixed;
  right: -1px;
  top: 10px;
  width: 100px;
  padding: 10px;
  background: black;
  border: 1px solid gray;
}
/* line 1195, sass/screen.sass */
#admin-nav a {
  color: white;
}
/* line 1197, sass/screen.sass */
#admin-nav a:hover {
  text-decoration: underline;
}
/* line 1199, sass/screen.sass */
#admin-nav li {
  margin: 4px 0;
  list-style: none;
}
/* line 1202, sass/screen.sass */
#admin-nav li a {
  text-decoration: none;
}
/* line 1204, sass/screen.sass */
#admin-nav #hidden {
  margin: 10px 0;
  display: none;
}

/* line 1207, sass/screen.sass */
label {
  font-weight: bold;
  display: block;
}

/* line 1211, sass/screen.sass */
textarea {
  width: 80%;
}
/* line 1213, sass/screen.sass */
textarea.comment-area {
  height: 100px;
  border: 1px solid #c4c4c4;
}

/* line 1217, sass/screen.sass */
button, input[type=submit] {
  text-align: center;
  width: 100px;
  height: 26px;
  background: url(/images/submit.png);
  color: #4183c4;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 11px;
}
/* line 1227, sass/screen.sass */
button:hover, input[type=submit]:hover {
  color: black;
}
/* line 1229, sass/screen.sass */
button:active, input[type=submit]:active {
  text-indent: -1px;
}

/* line 1233, sass/screen.sass */
input[type=text], input[type=password] {
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  width: 500px;
}

/* line 1241, sass/screen.sass */
form p {
  margin-top: 15px;
}

/* line 1244, sass/screen.sass */
input.number {
  width: 30px;
}

/* line 1247, sass/screen.sass */
form br {
  display: none;
}

/*Brackets form */
/* line 1252, sass/screen.sass */
#bracket_submit {
  margin-top: 30px;
}

/*Matches form */
/* line 1257, sass/screen.sass */
.match-team {
  width: 300px;
  float: left;
  border: 1px solid gray;
  background: #eeeeee;
  margin: 5px;
  padding: 5px;
}

/*Search */
/* line 1267, sass/screen.sass */
.search {
  float: right;
}
/* line 1270, sass/screen.sass */
.search input[type=text] {
  width: 150px;
  height: 18px;
  line-height: 18px;
  margin: 0;
  padding-right: 53px;
  float: left;
}
/* line 1277, sass/screen.sass */
.search input[type=submit] {
  float: left;
  margin: 1px 0 0 -51px;
  width: 50px;
}

/*Insider */
/* line 1284, sass/screen.sass */
#insider_prizes .fields, #insider_events .fields, #insider_files .fields, #insider_servers .fields {
  background: #eeeeee;
  border: 1px solid gray;
  margin: 10px;
  padding: 5px;
}

/* line 1290, sass/screen.sass */
#insider_prizes .fields {
  float: left;
}

/* line 1293, sass/screen.sass */
#insider_events .fields, #insider_files .fields, #insider_servers .fields {
  width: 300px;
}

/* line 1296, sass/screen.sass */
form h1 {
  margin-top: 20px;
  font-size: 110%;
  clear: both;
}

/*
 * Stylesheet for the tournament tree */
/* line 1303, sass/screen.sass */
#tournament {
  padding: -20px 0 -20px 15px;
  white-space: nowrap;
  overflow-x: scroll;
}

/* line 1308, sass/screen.sass */
#team-select {
  display: none;
}

/* line 1311, sass/screen.sass */
.tournament-round {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  margin: 0 -1px 0 -2px;
}

/* line 1317, sass/screen.sass */
.match {
  background: #d4d4d4;
}

/* line 1320, sass/screen.sass */
.group-match-link {
  width: 200px;
  text-decoration: none;
  margin: 5px;
}

/* line 1325, sass/screen.sass */
.group-match {
  margin-bottom: 15px;
}

/* line 1328, sass/screen.sass */
.bracket-match-link {
  text-decoration: none;
  display: block;
}
/* line 1331, sass/screen.sass */
.bracket-match-link:hover {
  background: #95cbf2;
}

/* line 1334, sass/screen.sass */
#tournament .team {
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  display: block;
  background: #1e2021;
  color: white;
}
/* line 1343, sass/screen.sass */
#tournament .team .team img {
  padding-top: 4px;
}
/* line 1345, sass/screen.sass */
#tournament .team .team select {
  width: 100%;
}
/* line 1348, sass/screen.sass */
#tournament .team .team span.name {
  float: left;
  display: block;
}
/* line 1351, sass/screen.sass */
#tournament .team .team span.score {
  float: right;
  display: block;
}

/* line 1355, sass/screen.sass */
#round-1 .team {
  margin: 20px 0;
}

/* line 1358, sass/screen.sass */
#round-2 .team {
  margin: 40px 0 60px 0;
}

/* line 1361, sass/screen.sass */
#round-3 .team {
  margin: 80px 0 140px 0;
}

/* line 1364, sass/screen.sass */
#round-4 .team {
  margin: 160px 0 300px 0;
}

/* line 1367, sass/screen.sass */
#round-5 .team {
  margin: 320px 0 620px 0;
}

/* line 1370, sass/screen.sass */
#round-6 .team {
  margin: 640px 0 1260px 0;
}

/* line 1373, sass/screen.sass */
#round-7 .team {
  margin: 1280px 0 0 0;
}

/*Groups */
/* line 1378, sass/screen.sass */
div.group {
  margin-top: 10px;
}

/* line 1381, sass/screen.sass */
table.group {
  border-collapse: collapse;
  margin: 10px 0;
  width: 100%;
}
/* line 1385, sass/screen.sass */
table.group .pos {
  width: 5px;
}
/* line 1387, sass/screen.sass */
table.group tr {
  height: 25px;
  border: 1px solid #d9d9d9;
}
/* line 1390, sass/screen.sass */
table.group th, table.group .centered {
  text-align: center;
}
/* line 1392, sass/screen.sass */
table.group th {
  font-weight: bold;
}
/* line 1394, sass/screen.sass */
table.group .centered {
  width: 30px;
}
/* line 1396, sass/screen.sass */
table.group td {
  padding: 5px;
  border-bottom: 1px solid #d9d9d9;
}

/* line 1400, sass/screen.sass */
h1#album-title {
  margin-bottom: 15px;
}

/* line 1403, sass/screen.sass */
#blog h1 {
  font-size: 9pt;
  margin: 15px 0 0 0;
}

/* line 1407, sass/screen.sass */
.header {
  margin-bottom: 5px;
}

/* line 1410, sass/screen.sass */
.title {
  font-weight: bold;
  overflow: hidden;
  *zoom: 1;
  display: inline-block;
}

/* line 1415, sass/screen.sass */
.subtitle {
  font-size: 8.5px;
}
/* line 1417, sass/screen.sass */
.subtitle span {
  color: #5d5d5d;
}

/* line 1420, sass/screen.sass */
.blue {
  color: #1e2957;
}

/* line 1423, sass/screen.sass */
.win {
  color: #056b16;
}

/* line 1426, sass/screen.sass */
.lose {
  color: #f20707;
}

/* line 1429, sass/screen.sass */
a {
  color: #1a3f5a;
}
/* line 1431, sass/screen.sass */
a:hover {
  color: gray;
}

/*Forums */
/* line 1438, sass/screen.sass */
#forums {
  border: 1px solid #c4c4c4;
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}
/* line 1444, sass/screen.sass */
#forums .wide {
  width: 50%;
}
/* line 1447, sass/screen.sass */
#forums .number-column {
  text-align: center;
  vertical-align: middle;
}
/* line 1451, sass/screen.sass */
#forums .forum-or-topic-name {
  font-size: 110%;
  font-weight: bold;
}
/* line 1455, sass/screen.sass */
#forums p {
  margin: 0;
}
/* line 1458, sass/screen.sass */
#forums td, #forums th {
  padding: 5px;
}
/* line 1461, sass/screen.sass */
#forums th {
  font-weight: bold;
  border-bottom: 1px solid #c4c4c4;
}
/* line 1465, sass/screen.sass */
#forums .post-user {
  vertical-align: top;
  width: 25%;
  background: #f4f4f4;
  border-right: 3px double #c4c4c4;
}
/* line 1470, sass/screen.sass */
#forums .post-content {
  vertical-align: top;
  padding: 15px 5px 5px 10px;
  position: relative;
}
/* line 1474, sass/screen.sass */
#forums .post {
  border-bottom: 1px solid #c4c4c4;
}
/* line 1476, sass/screen.sass */
#forums .post h1 {
  font-size: 120%;
  margin: 0 0 10px 0;
}
/* line 1479, sass/screen.sass */
#forums .post h2 {
  font-size: 110%;
  color: #444444;
  margin: 0 0 10px 0;
}
/* line 1483, sass/screen.sass */
#forums .post blockquote {
  background: #f4f4f4;
  border: 1px solid #c4c4c4;
  padding: 10px 10px 0 10px;
  margin: 10px;
}
/* line 1488, sass/screen.sass */
#forums .post p {
  margin-bottom: 10px;
}
/* line 1490, sass/screen.sass */
#forums .post ul, #forums .post ol {
  margin-bottom: 10px;
}
/* line 1492, sass/screen.sass */
#forums .post ol {
  list-style: decimal;
}
/* line 1494, sass/screen.sass */
#forums .postadmin {
  display: block;
  margin-top: 50px;
  text-align: right;
}

/* Mark it up */
/* line 1500, sass/screen.sass */
.markItUp {
  width: 690px;
  background: #f4f4f4;
}
/* line 1503, sass/screen.sass */
.markItUp .markItUpEditor {
  border: 1px solid #c4c4c4;
  width: 684px;
  font: 11px "Courier New", Courier, monospace;
}
/* line 1507, sass/screen.sass */
.markItUp ul {
  margin: 0;
  padding: 0;
}
/* line 1510, sass/screen.sass */
.markItUp .markItUpSeparator {
  width: 1px;
  margin: 4px 10px;
  height: 16px;
  overflow: hidden;
  text-indent: -10000px;
  background: #cccccc;
}
/* line 1517, sass/screen.sass */
.markItUp a {
  padding: 4px;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -10000px;
  outline: 0;
  background-repeat: no-repeat;
  background-position: 4px 4px;
}
/* line 1526, sass/screen.sass */
.markItUp a:hover {
  background: #eeeeee;
  background-repeat: no-repeat;
  background-position: 4px 4px;
}
/* line 1530, sass/screen.sass */
.markItUp li {
  float: left;
  list-style: none;
}
/* line 1534, sass/screen.sass */
.markItUp .markItUpButton1 a {
  background-image: url(/images/editor/h1.png);
}
/* line 1536, sass/screen.sass */
.markItUp .markItUpButton2 a {
  background-image: url(/images/editor/h2.png);
}
/* line 1538, sass/screen.sass */
.markItUp .markItUpButton3 a {
  background-image: url(/images/editor/h3.png);
}
/* line 1540, sass/screen.sass */
.markItUp .markItUpButton4 a {
  background-image: url(/images/editor/h4.png);
}
/* line 1542, sass/screen.sass */
.markItUp .markItUpButton5 a {
  background-image: url(/images/editor/h5.png);
}
/* line 1544, sass/screen.sass */
.markItUp .markItUpButton6 a {
  background-image: url(/images/editor/h6.png);
}
/* line 1546, sass/screen.sass */
.markItUp .markItUpButton7 a {
  background-image: url(/images/editor/paragraph.png);
}
/* line 1548, sass/screen.sass */
.markItUp .markItUpButton8 a {
  background-image: url(/images/editor/bold.png);
}
/* line 1550, sass/screen.sass */
.markItUp .markItUpButton9 a {
  background-image: url(/images/editor/italic.png);
}
/* line 1552, sass/screen.sass */
.markItUp .markItUpButton10 a {
  background-image: url(/images/editor/stroke.png);
}
/* line 1554, sass/screen.sass */
.markItUp .markItUpButton11 a {
  background-image: url(/images/editor/list-bullet.png);
}
/* line 1556, sass/screen.sass */
.markItUp .markItUpButton12 a {
  background-image: url(/images/editor/list-numeric.png);
}
/* line 1558, sass/screen.sass */
.markItUp .markItUpButton13 a {
  background-image: url(/images/editor/picture.png);
}
/* line 1560, sass/screen.sass */
.markItUp .markItUpButton14 a {
  background-image: url(/images/editor/link.png);
}
/* line 1562, sass/screen.sass */
.markItUp .markItUpButton15 a {
  background-image: url(/images/editor/quotes.png);
}
/* line 1564, sass/screen.sass */
.markItUp .markItUpButton16 a {
  background-image: url(/images/editor/code.png);
}
/* line 1566, sass/screen.sass */
.markItUp .preview a {
  background-image: url(/images/editor/preview.png);
}

/* line 1569, sass/screen.sass */
.ui-dialog {
  position: absolute;
  padding: 0.2em;
  width: 300px;
  overflow: hidden;
  background: #cccccc;
}
/* line 1576, sass/screen.sass */
.ui-dialog .ui-dialog-titlebar {
  padding: 0.4em 1em;
  height: 2em;
  position: relative;
}

/* line 1581, sass/screen.sass */
.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0.1em 16px 0.1em 0;
  font-weight: bold;
  color: black;
}

/* line 1587, sass/screen.sass */
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 0.3em;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px;
  background: url(/images/cross.png) no-repeat;
}

/* line 1597, sass/screen.sass */
.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 1px;
  display: none;
}

/* line 1602, sass/screen.sass */
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 0.5em 1em;
  background: none;
  overflow: auto;
  zoom: 1;
}

/* line 1610, sass/screen.sass */
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  padding: 0.3em 1em 0.5em 0.4em;
}

/* line 1616, sass/screen.sass */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}

/* line 1619, sass/screen.sass */
.ui-dialog .ui-dialog-buttonpane button, .ui-dialog .ui-dialog-buttonpane input[type=submit] {
  margin: 0 0.4em 0.5em 0;
}

/* line 1622, sass/screen.sass */
.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px;
}

/* line 1628, sass/screen.sass */
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

/* line 1631, sass/screen.sass */
#dialog {
  color: black;
  background: white;
}

/* line 1636, sass/screen.sass */
#news_images .news_image {
  float: left;
}

/* line 1639, sass/screen.sass */
.news_image {
  margin-right: 5px;
  height: 150px;
}
/* line 1643, sass/screen.sass */
.news_image img {
  width: 100px;
  height: 100px;
  display: block;
  cursor: pointer;
}
/* line 1649, sass/screen.sass */
.news_image#selected img {
  border: 2px solid blue;
}
/* line 1652, sass/screen.sass */
.news_image .full_image {
  display: none;
}
