/**
 * Stylesheet for the tournament tree
 */

#team-select {
  display: none;
}

.tournament-round {
  float: left;
  width: 120px;
}

.match {
  background: #557a95;
}

.bracket-match-link {
  text-decoration: none;
  display: block;
}

.bracket-match-link:hover {
  background: #95cbf2;
}

#tournament .team {
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  display: block;
  background: #082c46;
  color: white;
}

.team img {
  padding-top: 4px;
}

.team select {
  width: 100%;
}

.team span {
  float: right;
}

#round-1 .team {
  margin: 20px 0;
}

#round-2 .team {
  margin: 40px 0 60px 0;
}

#round-3 .team {
  margin: 80px 0 140px 0;
}

#round-4 .team {
  margin: 160px 0 215px 0;
}

#round-5 .team {
  margin: 320px 0 445px 0;
}

#round-6 .team {
  margin: 640px 0 0 0;
}
