/**
 * Stylesheet for the tournament tree
 */

#team-select {
  display: none;
}

.tournament-round {
  float: left;
  width: 150px;
}

.match {
  background: #557a95;
}

#tournament .team {
  padding-left: 5px;
  height: 20px;
  line-height: 20px;
  display: block;
  background: #082c46;
  color: white;
}

.team select {
  width: 100%;
}

#round-1 .team {
  margin: 20px 0;
}

#round-2 .team {
  margin: 40px 0 60px 0;
}

#round-3 .team {
  margin: 80px 0 105px 0;
}

#round-4 .team {
  margin: 120px 0 215px 0;
}

#round-5 .team {
  margin: 240px 0 445px 0;
}

#round-6 .team {
  margin: 480px 0 0 0;
}
