h1 {
  font-size: 8pt;
  font-weight: bold;
}

h1#album-title {
  margin-bottom: 15px;
}

.subtitle {
  font-size: 8.5px;
}

.subtitle span {
  color: #5d5d5d;
}


.blue {
  color: #1e2957;
}

.win {
  color: #056b16;
}

.lose {
  color: #f20707;
}

a {
  color: #1a3f5a;
}

a:hover {
  color: gray;
}

.medium-narrow {
  font-size: 8pt;
}

#full-col p {
  margin: 10px 0;
}
