<div class="album">
  <%= link_to image_tag(video.thumbnail), video %>
  <div class="name"><%= truncate video.name, :length => 40 %></div>
  <div class="info">
    By: <%= link_to video.user.username, video.user %>
  </div>
</div>
