<div id="wide-left-col">
  <div class="box">
    <div class="header">
      <%= title 'VIDEOS PAGE', 'CONTENT CHANGER' %>
      <%= render :partial => 'switcher' %>
    </div>
    <%= render :partial => @videos %>
  </div>
</div>

<div id="thin-right-col">
  <%= render :partial => @advert, :locals => {:image_size => :right_side} %>
</div>
