<div id="wide-left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">VIDEOS</span> PAGE
    </div>
    <div class="clear"></div>
    Coming soon!
    <div class="clear"></div>
  </div>
</div>
