<div id="official-partners">
  <div class="header">
    <%= title 'OFFICIAL PARTNERS' %>
  </div>
    <%= render :partial => 'partners/official_partner', :collection => Partner.official_partners %>
</div>
