<div id="official-partners">
  <div class="box-title">
    <span class="blue">OFFICIAL</span> PARTNERS<br />
  </div>
  <div class="clear"></div>
    <%= render :partial => 'partners/official_partner', :collection => Partner.official_partners %>
</div>
