<% event.event_teams.group_by(&:round).each do |round, teams| %>
  <div id="round-<%= round %>" class="tournament-round">
    <% teams.each_with_index do |event_team, idx| %>
      <% if (idx % 2) == 0 %>
        <div class="match">
      <% end %>
          <div class="team">
            <% if event_team.team %>
              <%= flag event_team.team.country %>
              <%= event_team.team.name %>
            <% end %>
          </div>
      <% if (idx % 2) != 0 or idx == teams.size - 1 %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
