<table class="info">
  <tr class="odd">
    <td class="field">Date</td>
    <td><%= event_dates event_info %></td>
  </tr>
  <tr>
    <td class="field">Game</td>
    <td><%= event_info.category.long_name %></td>
  </tr>
</table>
