<div id="wide-left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">EVENTS</span> PAGE<br />
      <span class="subtitle">CONTENT <span>CHANGER</span></span>
    </div>
    <div id="events">
      <%= render :partial => @events %>
    </div>
    <div class="clear"></div>
  </div>
</div>
