<div class="header">
  <%= title 'SETTINGS', 'CONTENT CHANGER' %>
  <ul class="switcher">
    <% Setting.all.each do |section| %>
      <li><%= link_to section.name.upcase, "/settings/#{section.permalink}", :class => 'button' %></li>
    <% end %>
    <% if can? :manage, :any %>
      <li><%= link_to 'ADMIN', "/settings/admin", :class => 'button' %></li>
    <% end %>
  </ul>
</div>
