<div id="left-col">
  <div class="box">
    <div class="header">
      <%= title 'AWARDS PAGE', 'CONTENT CHANGER' %>
      <ul id="awards-switcher" class="switcher">
        <%= render :partial => 'shared/switcher_list' %>
      </ul>
    </div>

    <div id="awardlist">
      <%= render :partial => @awards %>
    </div>
  </div>
</div>

<div id="right-col">
  <%= render :partial => 'shared/official_partners' %>
</div>
