<div class="album">
  <%= link_to image_tag(album.album_photos.first.photo.url(:thumb)), album %>
  <div class="name"><%= truncate album.name, :length => 40 %></div>
  <div class="info">
    By: <%= link_to album.user.username, album.user %>
  </div>
</div>
