<div class="box">
  <%= link_to '&laquo; Back to albums', admin_albums_path %>
</div>
<div class="box">
  <div class="header">
    <%= title "Edit album #{@album.name}" %>
  </div>

  <%= render :partial => 'form' %>
</div>
