<div id="wide-left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">AL</span>BUMS
    </div>
    <div class="clear"></div>
    <%= render :partial => @albums %>
    <div class="clear"></div>
  </div>
</div>
