<div class="player <%= cycle('left', 'right') %>">
  <%= image_tag player.avatar.url(:default) %>
  <% link_to player do %>
    &raquo; <%= "#{player.firstname} '#{player.nickname}' #{player.surname}" %>
  <% end %>
  <%= admin_links player, 'player-admin-links' %>
  <p class="description">
    aslkdjalskdj
  </p>
</div>
