<div id="wide-left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">MATCHES</span> PAGE<br />
      <span class="subtitle">CONTENT <span>CHANGER</span></span>
    </div>
    <ul id="matches-switcher" class="switcher">
      <%= render :partial => 'shared/switcher_list' %>
    </ul>
    <ul id="match-ticker" class="matches">
      <%= render :partial => @matches %>
    </ul>
    <div id="pagination">
      <%= will_paginate @matches,
        :prev_label => '&laquo;',
        :next_label => '&raquo;',
        :inner_window => 1,
        :outer_window => 0 %></div>
  </div>
</div>


<% content_for :extra_js do %>
  <%= javascript_include_tag 'switcher' %>
  <script type="text/javascript">
    switcher('#matches-switcher', '#match-ticker');
  </script>
<% end %>
